{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='Home Credit Image.png') }}" class="d-block w-100" alt="First slide">
    </div>
  </div>
</div>

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>About Me</h2>
            <p>I am currently a graduate student pursuing a Master in Data Science at the University of Utah. My studies and projects have provided me with a robust foundation in data mining, machine learning, and analytical decision models. I created this website to showcase my work, including a probability of default model from one of my capstone projects.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Professional Experience</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Data Analyst, Prestige Financial</h5>
                    <h6 class="card-subtitle mb-2 text-muted">August 2023 – Present</h6>
                    <p class="card-text">At Prestige Financial, I use Python and BI tools to automate daily reports on competitor metrics for the C-suite team, saving up to two hours daily. I also built an interactive dashboard to monitor customer ROE and created a fraud detection report, running autonomously every other day.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Intern Controller, Goldman Sachs</h5>
                    <h6 class="card-subtitle mb-2 text-muted">June 2023 – August 2023</h6>
                    <p class="card-text">Managed the mortgage-backed securities book, executing manual adjustments to asset prices and reserves. I added macros to pull data and send emails, saving roughly an hour a week and reducing manual error risks.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Intern Finance, rPlus Energies</h5>
                    <h6 class="card-subtitle mb-2 text-muted">October 2022 – May 2023</h6>
                    <p class="card-text">Enhanced financial models by implementing macros, saving the finance team about three hours per week of manual work and approximately $1000 annually.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Intern Controller, Goldman Sachs</h5>
                    <h6 class="card-subtitle mb-2 text-muted">June 2022 – August 2022</h6>
                    <p class="card-text">Managed two P&L books independently, allowing senior team members to focus on end-of-month, end-of-year, and ADHOC automation tasks, saving the team roughly 10 hours per month.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Intern Accounting, DBN Tax</h5>
                    <h6 class="card-subtitle mb-2 text-muted">October 2021 – May 2022</h6>
                    <p class="card-text">Handled over 20 clients monthly, creating balance sheets and income statements, increasing firm volume and profits by approximately $1000 per month. Implemented macros to save about 40 hours of manual work annually.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Education</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Master's of Data Science</h5>
                    <h6 class="card-subtitle mb-2 text-muted">University of Utah David Eccles School of Business, Salt Lake City UT, Dec 2024</h6>
                    <p class="card-text">Courses include Data Mining, Data Science, Analytical Decision Models, and Machine Learning. Cumulative GPA: 3.5.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Bachelor of Science, Finance</h5>
                    <h6 class="card-subtitle mb-2 text-muted">University of Utah David Eccles School of Business, Salt Lake City UT, May 2023</h6>
                    <p class="card-text">Graduated Summa Cum Laude with a 3.85 Business GPA and an emphasis on Advanced Financial Analysis. Dean's List.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Skills</h2>
            <p>Databases/Big Data: SQL Server, MySQL, Snowflake</p>
            <p>Analytics/Visualization/CRM: Microsoft Power BI, Tableau, Sigma</p>
            <p>Machine Learning: Linear Regression Models, Decision Trees, Gradient Boosted Trees, Neural Networks</p>
            <p>Programming: R, Python, Html, SQL</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Projects</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Summer Intern Project</h5>
                    <p class="card-text">Worked with a team of 10 interns across the country using SQL and Excel tools to automate the asset management team’s manual pricing processes, saving 10 hours per month. Presented findings to the Chief Accounting Officer and 2000 other employees at the firm.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Summer Intern Leadership Role</h5>
                    <p class="card-text">Acted in a leadership role among new interns, training them on team operations and workflows. Held multiple intern roundtables hosting 50 interns at a time to address questions and concerns.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
